<div class="flex flex-col flex-1">
  <app-navigation class="mat-elevation-z15"></app-navigation>
  <app-split-panel #splitpane
    [ngStyle]="{'margin-top': isHandset  ? 'var(--mat-toolbar-mobile-height)' : 'var(--mat-toolbar-standard-height)'}" class="flex-1">


    <div left class="mx-3">
      <div class="text-center  flex flex-row items-center h-full mt-3 p-1">
        <mat-icon aria-hidden="false" aria-label="icon" fontIcon="satellite"></mat-icon>
        <h3 style="margin: 0"><span>E-</span>Observation Apps</h3>
      </div>
      <div class="my-3">
        <mat-nav-list class="mx-3">
          @for (nav of fillerNav; track $index) {
            <a (click)="splitpane.closeLeft()" mat-list-item class="centered rounded-list-item my-3" [routerLink]="nav[1]">
              <div class="text-center  flex flex-row items-center h-full p-1">
                <mat-icon aria-hidden="false" aria-label="icon" [fontIcon]="nav[2]"></mat-icon>
                <span style="font-size: x-small" class="mx-3">{{ nav[0] }}</span>
              </div>

            </a>
          }
        </mat-nav-list>

      </div>
    </div>

    <div right class="flex flex-1" style="height: 100%">
<!--      <app-ndvi></app-ndvi>-->

      <router-outlet></router-outlet>
    </div>
  </app-split-panel>

</div>


